/*Base variables*/
$main-color: #0073aa; // pinetree logo main color
$link-color: #1580eb;
$text-color: #fff;
$border-color: #292323;
$main-bg-color: #343434;
$secondary-bg-color: #0f0f0f;
$third-bg-color: #878787;
$fourth-bg-color: #2b2b2b;

/* Price color */
$price-up-color: #0f0;
$price-down-color: #ff3737;
$price-max-color: #ff25ff;
$price-min-color: #1eeeee;
$price-open-color: #ffd900;
$normal-color: #d8d8d8;